<% @pictures.each do |picture| %>
    <div class="panel panel-default">
        <div class="panel-body">
            <h4 class="text-left"><strong><%= picture.title %></strong></h4>
            <% if picture.img %>
                <p><%= image_tag(picture.img,class:"test") %></p>
            <% end %>
            <p class="text-left"><%= picture.content %></p>
            <hr>
            <p class="text-left">書いた人:<%= picture.user.name %></p>
            <p class="text-left">プロフィール画像: <%= profile_img(picture.user) %></p>
            <hr>
            <p>
                <%= link_to "編集", edit_picture_path(picture.id), class: 'btn btn-default' %>
                <%= link_to "削除", picture_path(picture), method: :delete, data: {confirm:'本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
            </p>
        </div>
    </div>
<% end %>